<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body >
   <h1 style="color:blue;" style="font-family:verdana;" style="text-align:center;">Form Demo</h1>
    <form action="/index" method="post">
      <fieldset>
        <legend>Text input</legend>
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" size="30" required autofocus><br>
          <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
          <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
          <input type="submit" value="Submit">
          <input type="button" value="Submit" style="background-color:#4CAF50;border: none;color: white;padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
cursor: pointer;">
          <p style="font-size:18px">
&#128512; &#128516; &#128525; &#128151;
</p>

      </fieldset>
    </form>
 <script>
     (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
 </script>
</body>
</html>