<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <h1>Form Demo</h1>
    <form>
      <fieldset>
        <legend>Text input</legend>
        <p>
          <label>Text box</label>
          <input type = "text"
                 id = "myText"
                 value = "text here" />
        </p>
        <p>
          <label>Password</label>
          <input> type = "password"
                  id = "myPwd"
                  value = "secret" />
        </p>
        <p>
          <label>Text Area</label>
          <textarea> id = "myTextArea"
                  rows = "3"
                  cols = "80">Your text here</textarea>
        </p>
      </fieldset>
    </form>
 <script>
     (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
 </script>
</body>
</html>