<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Cart</title>
<style>


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
   * {
  box-sizing: border-box;
}


@media (max-width: 800px) {
  .item {
    height: auto;
}
  .Delimg{
         display: block;
         margin-left: auto;
         margin-right: auto;}
 }
</style>
</head>
<body>
<form>
                    <div >
                    <img src="/static/images/favpng_shopping-cart-shiva-lingam.png" alt ="user image" width="100" height="100" class="Delimg">
                        <h4><strong>Your Cart is Empty</strong></h4>
                        </div>

</form>
<script>
   (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
</script>
</body>
</html>