<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shipping Address</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

.card-body label{
	font-size: 14px;
}

.no-border{
    border: 0;
}
.no-background{
background-color: #FFFFFF;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}
  </style>
</head>
<body>
<form action="/ShippingAddress/{{ recid }}/{{ rec }}" method="post">
 <div class="container no-border">
		<div class="row no-border">
			<div class="col-md-4 offset-md-4 col-10 offset-1 pl-0 pr-0 no-border">
				<div class="card no-border">
				  	<div class="card-header no-background ">
				    	<div class="row">
							<div class="col-md-5 col-12 pt-2">
								<h6 class="m-0"><strong>Shipping Address</strong></h6>
							</div>
						</div>
				  	</div>
				  	<div class="card-body">
				    	<form>
						  	<div class="form-group">
						      	<label for="Fullname"><strong>Full Name</strong></label>
						      	<div class="input-group">
						        	<input type="text" name="Fullname" class="form-control " id="Fullname" placeholder="ex: Hiba Hariri" required>
						      </div>
						  	</div>
                            <div class="form-group">
						      	<label for="Address1"><strong>Adrress Line1</strong></label>
						      	<div class="input-group">
						        	<input type="text" name="Address1" class="form-control " id="Address1" placeholder="Mathaf, Damascus street, Museum Tower" required>
						      </div>
						  	</div>
                            <div class="form-group">
						      	<label for="Address2"><strong>Address Line 2</strong></label>
						      	<div class="input-group">
						        	<input type="text" name="Address2" class="form-control " id="Address2" placeholder="Near The Smallville Hotel" >
						      </div>
						  	</div>
						  	<div class="row">
						  		<div class="col-md-8 col-12">
						  			<div class="form-group">
								    	<label for="Phonenumber"><strong>Contact Phone Number</strong></label>
								    	<input type="text" name="Phone" class="form-control" id="Phonenumber" placeholder="71198408" pattern="/(03|71|78|81)\d{6}/" required>
									</div>
						  		</div>
							  	<div class="col-md-4 col-12" style="display: none">
							  		<div class="form-group">
									    <label for="exampleInputCvcCode"><strong>CVC</strong></label>
									    <input type="text" name="City" class="form-control" id="exampleInputCvcCode" placeholder="CVC">
									</div>
							  	</div>
						  	</div>
						  	<button  type="submit" class="btn btn-info w-100 pb-2 pt-2">Confirm</button>
						</form>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</form>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));
</script>
</body>
</html>